.box {
    width: 100%;
    word-wrap: normal;
}

.level-item {
    max-width: 100%;
}

.text-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.text-wrap > p {
    text-overflow: ellipsis;
}

.wrapped {
    max-width: 100%;
    word-wrap: normal;
    overflow-wrap: normal;
}

p {
    word-wrap: normal;
}

form {
    width: 100%;
}

.squarer {
    width: 256px;
    height: 256px;
}

.modal-card .modal-card-title {
    max-width: 97%;
    overflow-wrap: break-word;
}

.modal-card-body .level {
    max-width: 100%;
    overflow-wrap: break-word;
}

.modal-card-body .level p {
    max-width: 100%;
}

.modal-card-body .level {
    max-width: 25vh;
    width: 100%;
    overflow-wrap: break-word;
}

.modal-card-body .level-item {
    width: 100%;
}